.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
  align-content: center;
  background-color: #282c34;
  min-height: 36px;
}

.header-member {
  display: flex;
}