.page {
    background-color: #cecece;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: #31323d;
}

.twoColumnBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.singleColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin-right: 16px;
    margin-left: 16px;
}